// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/css3";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

@mixin nice_form($label_width: 100px) {
  @include blueprint-form;
  fieldset ul {
    li {
        list-style-type: none;
        clear: both;
        padding: 5px 0 0 0;
        label, input, div, span {
          float: left;
        }
        label:first-child  {
          width: $label_width;
          padding: 9px 5px 0 0;
          text-align: right;
        }
        input[type=checkbox] {
        }
        div {
          padding: 9px 0 0 0;
          display: inline;
        }
        span {
          padding: 0 0 0 5px;
          font-style: italic;
        }
        button {
            margin: 6px 0 0 $label_width+4px;
        }
    }
  }
}

@mixin good_links($size: 12px) {
  a {
     @include hover-link;
     @include unstyled-link;
     @include link-colors(#00c, #0cc);
     font-size: $size;
  }
}

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  padding: 20px;
  div#header {
    $size: 16px;
    font-size: $size;
    @include good_links($size);
  }
  div.breadcrumb {
    $size: 16px;
    font-size: $size;
    @include good_links($size);
  }
  ul.links {
    @include good_links(16px);
  }
  @include good_links(16px);
  @include nice_form(140px);
}

form#signin {
  @include nice_form(60px);
}

button {
  @include button-button;
  @include button-colors;
  @include button-hover-colors;
  @include button-active-colors;
  @include background-image(linear-gradient(#049cdb, #0064cd));
  @include border-radius;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  &:hover {
    color: white;
    border-color: #0064cd #0064cd #003f81;
    background: #0064CD;
  }
}
