// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

@mixin nice_form($label_width: 100px) {
  @include blueprint-form;
  fieldset ul {
    li {
        list-style-type: none;
        clear: both;
        padding: 5px 0 0 0;
        label, input, div, span {
          float: left;
        }
        label:first-child  {
          width: $label_width;
          padding: 7px;
          text-align: right;
        }
        input[type=checkbox] {
        }
        div {
          padding: 7px 0;
          display: inline;
        }
        span {
          padding: 0 0 0 5px;
          font-style: italic;
        }
        button {
            margin: 6px 0 0 $label_width+14px;
        }
    }
  }
}

@mixin good_links($size: 12px) {
  a {
     @include hover-link;
     @include unstyled-link;
     @include link-colors(#00c, #0cc);
     font-size: $size;
  }
}

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  padding: 20px;
  div#header {
    $size: 16px;
    font-size: $size;
    @include good_links($size);
  }
  div.breadcrumb {
    $size: 16px;
    font-size: $size;
    @include good_links($size);
  }
  ul.links {
    @include good_links(16px);
  }
  @include good_links(16px);
}

.good_links {
    @include good_links(16px);
}

form.readonly {
  @include nice_form(140px);
}

form#signin {
  @include nice_form(60px);
}

form#passwordreset {
  @include nice_form(140px);
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
